<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            overflow-x: hidden;
            background:#E0E0E0;
        }
    </style>
    <meta charset="UTF-8">
    {% block title %}
    <title>Magazz</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block links %}
    {% endblock %}
</head>
<div class = "row" style="margin-top: 10px;">
        <a class="btn btn-success col-sm-1 col-sm-offset-9" style="margin-right:10px;" href="{%url 'login' %}" >Sign In</a>
        <a class="btn btn-default col-sm-1" href="{%url 'register' %}">Register</a>
</div>
<div class = "row" style="margin-top: 10px;">
        <a class="btn btn-default col-sm-2 col-sm-offset-2" href="{%url 'products' %}">Products</a>
        <a class="btn btn-default col-sm-2 col-sm-offset-1" href="{%url 'categories' %}">Categories</a>
        <a class="btn btn-default col-sm-2 col-sm-offset-1" href="{%url 'cart' %}">Cart</a>
</div>
{% block content %}
{% endblock %}
</html>