<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div>
    <form action="" class="col-sm-8 col-sm-offset-2">
        <div class="form-group">
              <label>Login:</label>
              <input type="text" class="form-control" name="login" required>
        </div>
        <div class="form-group">
              <label>Password:</label>
              <input type="text" class="form-control" name="password" required>
        </div>
        <input class="btn btn-success col-sm-2 col-sm-offset-5" type="submit" value="Submit" />
    </form>
</div>
</body>
</html>